.active {
    background-image: linear-gradient(90deg , green , yellow);
    border: none;
}

#container {
    border: gray solid 1px;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px;
    display: grid;
   grid-template-columns: repeat(16,1fr);
   grid-template-rows: repeat(16,1fr);

    
}


#reset {
    display: block;
    text-align: center;
}

